<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}
    <div class="container">
    <h1>Welcome To Student Data Entery</h1>
    <form action="" method="post" name="login">
        {{ form.hidden_tag() }}
        <p>
            {{ form.student(size=20,placeholder="Name of Student") }}
            {% for error in form.student.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}<br>
        </p>
	<p>
            {{ form.mark(size=20,placeholder="Mark of Student") }}
            {% for error in form.mark.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}<br>
        </p>
        <p><input type="submit" value="Upload"></p>
    </form>
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Student Name</th>
                <th>Student Mark</th>
            </tr>
        </thead>

        <tbody>
	    {% for c in nameval %}
	    <tr>
                <th>{{c[0]}}</th>
                <th>{{c[1]}}</th>
	    </tr>
            {% endfor %}
        </tbody>
    </table>
    </div>
{% endblock %}
